<h1>Payment complete</h1>
<br> 
You've successfully made a payment! Thanks for your for your interest in JDMs! Remember to leave some feedback :) 

<%= link_to 'Back', :back %> <%= link_to "Go To Listings", listings_path
%>